*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Courier New', Courier, monospace;
  
}

.container{
  min-height: 100vh;
  width: 100%;
  padding: 10px;}
 
.container.day {
  background: linear-gradient(135deg, #FF1C30, #E5B93D);
}

.container.night {
  background: linear-gradient(135deg,#00A0FA, #004895, #2c5364);
}



.to-do-app{
  width: 100%;
  max-width: 540px;
  background: #fff;
  border-radius: 25px;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  
}

.to-do-app h2 {
  display: flex;
  color:#002765;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 900;
}

.to-do-app h2 img {
  width: 40px;
  margin-left: 20px;
}

.input{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 20px;
  
  
}

#input-box{
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  margin: 14px;
  font-weight:bolder;
  font-size: 18px;
}


.input button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;

}

#click.night{
  background: #00A0FA;
}

#click.day{
  background:#FF1C30;
}

ul li {
  list-style: none;
  font-size: larger;
  padding: 12px 8px 12px 50px ;
  user-select: none;
  cursor: pointer;
  position: relative;

}

ul li::before{
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image:url(IMAGES/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}


ul li.checked{
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before{
  background-image: url(IMAGES/tick-icon.png);
}

ul li span{
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover{
  background:#edeef0;
}
